# Backend Symfony
backend/.env
backend/var/
backend/vendor/
backend/config/jwt/
backend/public/bundles/

# Frontend Next.js
frontend/.env.local
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/.pnpm-store/v3/files/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
frontend/tsconfig.tsbuildinfo
